<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Stats Dashboard</title>
</head>
<body>
    <div class="container">
        <form method="GET" action="{{ url_for('main_menu') }}">
            <button class="back-button" type="submit">Back</button>
        </form>
        <h2>Stats</h2>
        <img src="{{ img_base64 }}" alt="Qualified and Not Qualified">

        <h2>Salesperson Summary</h2>
        <table>
            <tr>
                <th>Salesperson</th>
                <th>Month Goal</th>
                <th>Month Goal Qualifies Amount</th>
                <th>Total Qualifies</th>
                <th>Total Not Qualifies</th>
                <th>Total Cancelled</th>
                <th>Conversion Rate</th>
                <th>Not Qualifies Rate</th>
                <th>Cancelled Rate</th>
            </tr>
            {% for salesperson, summary in summary_data.items() %}
                <tr>
                    <td>{{ salesperson }}</td>
                    <td>{{ summary['Month Goal'] }}</td>
                    <td>{{ summary['Month Goal Qualifies Amount'] }}</td>
                    <td>{{ summary['Total Qualifies'] }}</td>
                    <td>{{ summary['Total Not Qualifies'] }}</td>
                    <td>{% if 'Total Cancelled' in summary %}{{ summary['Total Cancelled'] }}{% else %}0{% endif %}</td>
                    <td>{{ summary['Conversion Rate'] }}</td>
                    <td>{{ summary['Not Qualifies Rate'] }}</td>
                    <td>{{ summary['Cancelled Rate'] }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
