<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Stats Dashboard</title>
</head>
<body>
    <div class="container">

        <div class="filters">
            <label for="start-year">Start Year:</label>
            <select id="start-year" name="start-year">
                <!-- Add options for start year -->
                {% for year in range(2020, 2030) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>

            <label for="start-month">Start Month:</label>
            <select id="start-month" name="start-month">
                <!-- Add options for start month -->
                {% for month in range(1, 13) %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
            </select>

            <label for="end-year">End Year:</label>
            <select id="end-year" name="end-year">
                <!-- Add options for end year -->
                {% for year in range(2020, 2030) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>

            <label for="end-month">End Month:</label>
            <select id="end-month" name="end-month">
                <!-- Add options for end month -->
                {% for month in range(1, 13) %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
            </select>

            <button onclick="resetFilters()">Reset</button>
            <button onclick="applyFilters()">Filtrar</button>
        </div>

        <div class="title">
        <hr>
        <h3>Appointments Summary</h3>
        <hr>
        </div>
        

        <div class="chart-container">
            <div class="chart-circular">
                <img src="{{ img_base64_last_30_days }}" alt="Last 30 Days">
            </div>
            <div class="chart-month">
                <img src="{{ img_base64_total_qualifies }}" alt="Total Qualifies by Month">
            </div>            
        </div>        
        
        <div class = 'table-container'>
            <table>
                <tr>
                    <th>Salesperson</th>
                    <th>Total Qualified</th>
                    <th>Total Not Qualified</th>
                    <th>Total Cancelled</th>
                    <th>Qualifies Rate</th>
                    <th>Not Qualifies Rate</th>
                    <th>Cancelled Rate</th>
                    <th>Total Visited</th>
                    <th>Best Month</th>
                    <th>Best Month Amount</th>
                    <th>Total Leads</th>
                    <th>Total Customers</th>
                </tr>
                {% for salesperson, summary in summary_data.items() %}
                    <tr>
                        <td>{{ salesperson }}</td>
                        <td>{{ summary['Total Qualifies'] }}</td>
                        <td>{{ summary['Total Not Qualifies'] }}</td>
                        <td>{% if 'Total Cancelled' in summary %}{{ summary['Total Cancelled'] }}{% else %}0{% endif %}</td>
                        <td>{{ summary['Conversion Rate'] }}</td>
                        <td>{{ summary['Not Qualifies Rate'] }}</td>
                        <td>{{ summary['Cancelled Rate'] }}</td>
                        <td>{{ summary['visited'] }}</td>
                        <td>{{ summary['Month Goal'] }}</td>
                        <td>{{ summary['Month Goal Qualifies Amount'] }}</td>
                        <td>{{ summary['Total Leads'] }}</td>
                        <td>{{ summary['Total Customers'] }}</td>
    
                    </tr>
                {% endfor %}
            </table>

        </div>
        
    <div class="generic-chart">
        <img src="{{ img_base64 }}" alt="Qualified and Not Qualified">
    </div>
    
    </div>

    <script>
        function resetFilters() {
            document.getElementById("start-year").value = "";
            document.getElementById("start-month").value = "";
            document.getElementById("end-year").value = "";
            document.getElementById("end-month").value = "";
        }
    
        function applyFilters() {
            var startYear = document.getElementById("start-year").value;
            var startMonth = document.getElementById("start-month").value;
            var endYear = document.getElementById("end-year").value;
            var endMonth = document.getElementById("end-month").value;
    
            // Redirect to the updated stats URL
            window.location.href = "/?start_year=" + startYear + "&start_month=" + startMonth + "&end_year=" + endYear + "&end_month=" + endMonth;
        }
    </script>
    
</body>
</html>
